<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download Playlist</title>
    <link rel="stylesheet" href="style.css">
	  {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="text-center">
      <h2>Enter URL to download a YouTube playlist</h2>
      {% if error %}
          <p class="alert alert-warning"><strong>Error:</strong> {{ error }}
      {% endif %}
      <form action="/download/playlist" method="POST">
        {{ form.csrf_token}}
        {{ form.url(size=32) }}
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
	<br>
	<br>

  <a href="{{ url_for('home') }}">
    Back
  </a>
  </body>
</html>