<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
	{{ bootstrap.load_css() }}
  </head>
  <body>
  <style>
  a{
 	 color: black;
	 background-color: cyan;
 	 padding: 5px;
 	 text-align: center;
	 margin: 3px;
  }
  h1{ color: cyan; }
  </style>
  <h1> Home </h1>
  	<p></p>
	<a href="/download/video"> Download a single video >>></a>
    <p></p>
	<a href="/download/playlist">Download a playlist >>></a>
	<br>
	<br> 
  </body>
</html>
