<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.container {
  position: relative;
}
.middle {
  position: absolute;
  bottom: 525px;
  left: 350px;
  font-size: 18px;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.topleft {
  position: absolute;
  bottom: 400px;
  left: 16px;
  font-size: 20px;
}
img { 
  width: 100%;
  height: auto;
  opacity: .9;
}
a {color:white; font-size: 1.3em;}
p {color:white; font-size: .7em;}
h1 {color:white; font-size: 2em;}
</style>
</head>
<body>

<div class="container">
  <img src="https://www.xda-developers.com/files/2018/03/youtube-dark.png" alt="Cinque Terre" width="1000" height="300">
  <div class="bottomleft">
    <p> YouTube Downloader</p>
    <p> by CST205 group 7335</p>
  </div>
  <div class="topleft">
    <h1>Please login</h1>
        <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}">
           <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}">
          <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
  </div>
</div>

</body>
</html>
