<!-- Open Source BS Template: https://www.bootdey.com/snippets/view/profile-photos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>

    <div id="content" class="container p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
                <div class="profile-header-info">
                    <h4 class="m-t-sm">Youtube Downloader</h4>
                    <p class="m-b-sm">Admin</p>
                    <a href="{{ url_for('home') }}" class="btn btn-xs btn-primary mb-4" data-toggle="tab">Download</a>
                    <a href="{{ url_for('downloaded') }}" class="btn btn-xs btn-primary mb-4" data-toggle="tab">Downloaded</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-xs btn-danger mb-4" data-toggle="tab">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<div class="container">
    <h3> Suggested Videos </h3>

    <div class="row">
      <div class="column">
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/js.png')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> Learn JavaScript </p>
      </div>
      <div class="column"> 
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/heaven.jpg')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> Locked Out of Heaven </p>
      </div>
      <div class="column">
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/passionfruit.jpg')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> Passionfruit </p>
      </div>
      <div class="column">
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/starboy.jpg')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> Starboy </p>
      </div>
      <div class="column">
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/python.jpeg')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> Learn Python </p>  
      </div> 
      <div class="column">
        <a href="{{ url_for('download_video') }}"><img src="{{url_for('static', filename='images/cancion.jpg')}}" width="250" class="img-fluid rounded" alt=""></a>
        <p> La Cancion</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


</body>
</html>